.header__link {
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFF;
    text-decoration: none;
}

.header__link:hover {
    opacity: 0.6;
    cursor: pointer;
}